/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// .form-control:focus{
//   outline: none;
//   box-shadow: none;
//   border-color: rgb(202, 198, 198)
// }
.custom-select:focus{
  outline: none;
  box-shadow: none;
  border-color: rgb(202, 198, 198)
}
